footer {
    background-color: #2e3333;
    padding: 15px 40px;
    .container-fluid {
        margin-left: 5px;
        .gutter {
            padding: 10px;
            .footer-card {
                margin: 10px 10px;
                padding: 10px;
                background-color: #434848;
                border-radius: 8px;
                h3 {
                    font-size: 20px;
                }
                #pagamenti {
                    display: inline;
                    li {
                        display: inline;
                        margin-top: 10px;
                        i {
                            font-size: 30px;
                            padding: 11px;
                        }
                    }
                }
                ul {
                    li {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .social {
            margin-left: 10px;
            margin-top: 10px;
            li {
                display: inline;
                margin-right: 10px;
                a {
                    color: $white;
                    font-size: 20px;
                }
            }
        }
        p {
            color: #fff;
        }
    }
}