.modal-send-order {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);

    .content-modal-order {
        width: 80%;
        position: relative;

        .close-modal {
            position: absolute;
            font-size: 35px;
            cursor: pointer;
            top: 15px;
            right: 15px;
            z-index: 20;

            &:hover {
                color: $white;
            }
        }

        .insert-customer-data {

            width: 100%;
            padding: 20px;
            background-color: $red;

            .anagrafica {
                box-shadow: 0 0 14px 0 rgba(0 0 0 / 25%);
                margin-right: 20px;
                padding: 20px;
                background-color: $white;
            }

            .payment {
                box-shadow: 0 0 14px 0 rgba(0 0 0 / 25%);
                padding: 20px;
                background-color: $white;

                img {
                    width: 70%;
                }
            }

            label, input {
                padding: 0;
                margin: 0;
            }

            input {
                width: 100%;
                border: 1px solid #444444;
                padding-left: 10px;
            }
            .form-group {
                margin-bottom: 10px;
            }
        }
        .detail-order {
            padding: 20px;
            background-color: $red;
            height: 370px;

            .carrello {
                box-shadow: 0 0 14px 0 rgba(0 0 0 / 25%);
                margin-top: 0;
                border-radius: 0;
                height: 90%;
            }
            .carrello-body {
                overflow-y: scroll;
                padding-right: 10px;
                /*  ul {
                      li > span{
                          border: 1px solid #000000;
                      }
                  }*/
                .head-carrello {
                    span {
                        &.c-piatto {
                            width: 48%;
                        }

                        &.c-quantita {
                            text-align: left;
                            width: 30%;
                        }

                    }
                }
                .riga-carrello {
                    .fa-plus {
                        color: $green;
                    }

                    .fa-minus {
                        color: $red;
                    }

                    span {
                        &.c-piatto {
                            width: 50%;
                        }

                        &.c-quantita {
                            text-align: center;
                            width: 5%;
                        }

                        &.c-prezzo {
                            width: 47%;
                        }
                    }

                }

            }
        }
    }
}
