.sidebar {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    h6 {
        margin: 15px 0 0;
    }
    ul {
        li {
            display: inline-block;
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}